<div class="login-container">
  <div class="login-background">
    <div class="background-overlay"></div>
  </div>

  <div class="login-content">
    <div class="logo-section">
      <div class="logo-container">
        <img src="assets/images/logo.png" alt="Capital ERP" class="logo">
        <p class="system-description">Sistema de Gestão Integrada</p>
      </div>
    </div>

    <nz-card class="login-card" nzTitle="Acessar Sistema">
      <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="emailErrorTpl">
            <nz-input-group nzPrefixIcon="user" class="ant-input-group">
              <input nz-input formControlName="email" placeholder="seu@email.com" />
            </nz-input-group>
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control?.errors?.['required']">
                Por favor, informe seu email
              </ng-container>
              <ng-container *ngIf="control?.errors?.['email']">
                Por favor, informe um email válido
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzErrorTip]="passwordErrorTpl">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate" class="ant-input-group">
              <input
                nz-input
                [type]="passwordVisible() ? 'text' : 'password'"
                formControlName="password"
                placeholder="Sua senha"
              />
              <ng-template #suffixTemplate>
                <button
                  nz-button
                  nz-tooltip="{{ passwordVisible() ? 'Ocultar senha' : 'Mostrar senha' }}"
                  nzType="text"
                  nzShape="circle"
                  (click)="togglePasswordVisibility()"
                  type="button"
                  class="password-toggle-btn"
                >
                  <span nz-icon [nzType]="passwordVisible() ? 'eye-invisible' : 'eye'"></span>
                </button>
              </ng-template>
            </nz-input-group>
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control?.errors?.['required']">
                Por favor, informe sua senha
              </ng-container>
              <ng-container *ngIf="control?.errors?.['minlength']">
                A senha deve ter pelo menos 6 caracteres
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <button
          nz-button
          nzType="primary"
          nzBlock
          [nzLoading]="loading"
          [disabled]="!loginForm.valid"
          class="login-button">
          Entrar
        </button>

        <div class="login-links">
          <a href="#" class="forgot-password">Esqueci minha senha</a>
        </div>
      </form>
    </nz-card>

    <div class="footer">
      <p>&copy; {{ currentYear }} Capital ERP. Todos os direitos reservados.</p>
      <p class="version">v1.0.0</p>
    </div>
  </div>
</div>
